#header{
    width: 60vw;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
}

#header nav{
    display: flex;
    gap: 1rem;
    width: fit-content;
}

#header img{
    width: 10rem;
}