.catalogo{
    width: 60vw;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 1rem;
    margin: 0 auto;
}

.descricao{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35%;
    justify-content: space-between;
    overflow: hidden;
    gap: 1rem;
}

.descricao h5{
    font-size: small;
    margin: 0 auto;
    width: 90%;
}

.produto{
    display: flex;
    flex-direction: column;
    width: calc(15rem * 1.022);
    height: 25rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.produto .imgProduto{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 14rem;
    padding: 0 1rem;
}

.produto .priceCart{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 3rem;
    width: 90%;
}
